.selectfractal {
    width: 250px;
    height: 35px;
    border-radius: 36px;
    display: inline-block;
    overflow: hidden;
    border: 1px solid #c4f7ff;
    font-family: 'Times New Roman';
}

.label {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman';
    color: white;
}

.iconbutton {
    background-color: #5653ff;
    border: none;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: block;
}

.information {
    width: 100%;
    height: 90%;
    border-radius: 20px;
    background-color: #c4f7ff;
    font-size: 16px;
    font-family: 'Times New Roman';
    display: grid;
    grid-template-rows: 6fr fr;
    font-size: 20px;
    font-family: 'Times New Roman';
}

.downloadbutton {
    background-color: #5653ff;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Times New Roman';
    border: none;
    width: 150px;
    height: 40px;
}