.modulebar {
    height: 100%;
}

.closewrapper {
    display: grid;
    grid-template-columns: 1fr 44fr;
}

.openwrapper {
    display: grid;
    grid-template-columns: 1fr 7fr;
}

.logoname {
    font-size: 75px;
    font-family: 'Jaldi';
    color: #FFFFFF;
    text-shadow: 1px 1px #000dff;
    ;
}

.reference {
    font-size: 20px;
    font-family: 'Jaldi';
    color: #FFFFFF;
    text-decoration: underline;
}

.iconbutton {
    background-color: #53b2ff;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.modulebutton {
    width: 100%;
    height: 80px;
    color: #FFFFFF;
    background-color: #53b2ff;
    border: none;
    box-shadow: 1px 3px #53b2ff;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Jaldi';
}

.activemodulebutton {
    width: 100%;
    height: 80px;
    color: #FFFFFF;
    background-color: #2d306b;
    border: none;
    box-shadow: 1px 3px #53b2ff;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Jaldi';
}

.information {
    height: 80px;
    width: 600px;
    border-radius: 20px;
    background-color: #c4f7ff;
    font-size: 16px;
    font-family: 'Jaldi';
}